

    {{> head}}

    {{> navbar }}

      <div class="row">
          <div class="col-8">
              <h1>Imagen</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quisquam, culpa et saepe error sed blanditiis illum accusamus architecto? Modi porro nobis delectus illum minus consectetur vitae sunt odio itaque!</p>
          </div>

          <div class="col-4">
              <img src="assets/img/5cc0a3affb772fee8c1a4882c57ec268.jpg" alt="" class="img-thumbnail">
          </div>
      </div>


     {{> footer}}


